<footer class="footer">
	<div class="container">
		<div class="footer-top">
			<span class="footer-span">Аренда велосипедов</span>
			<ul class="footer-menu">
				<li class="footer-menu__item">
					<a href="<%= pages_delivery_path %>" class="footer-menu__link">Правила</a>
				</li>

				<li class="footer-menu__item">
					<a href="<%= reviews_path  %>" class="footer-menu__link">Отзывы</a>
				</li>

				<li class="footer-menu__item">
					<a href="<%= pages_contacts_path %>" class="footer-menu__link">Контакты</a>
				</li>
			</ul>
		</div>
		<div class="footer-middle">
			<ul class="footer-middle-menu">
				<li class="footer-middle-menu__item">
					<a href="#" class="footer-middle-menu__link">Алюминий</a>
				</li>
				<li class="footer-middle-menu__item">
					<a href="#" class="footer-middle-menu__link">Карбон</a>
				</li>
				<li class="footer-middle-menu__item">
					<a href="#" class="footer-middle-menu__link">Горные/городские</a>
				</li>
				<li class="footer-middle-menu__item">
					<a href="#" class="footer-middle-menu__link">Городские эконом</a>
				</li>
			</ul>
		</div>
		<div class="footer-bottom">
			<span class="footer-copyright">© BikePark, 2024</span>
			<%# <a href="#" class="footer__link">Политика конфиденциальности</a> %>
			<ul class="footer-social-menu">
				<li class="footer-social-menu__item">
					<a href="#" class="footer-social-menu__link">
						<i class="fa-brands fa-vk"></i>
					</a>
				</li>
				<li class="footer-social-menu__item">
					<a href="#" class="footer-social-menu__link">
						<i class="fa-brands fa-telegram"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>