<section class="about-box">
	<section class="about section">
		<h1 class="title about__title">О нас <i class="fa-solid fa-users-viewfinder"></i></h1>

		<div class="about-box">
			<div class="about-box__text">
				<p class="about-box__p">
					Приветствуем вас в BikePark – вашем уголке велосипедных приключений! Мы – коллектив энтузиастов, объединенных любовью к велоспорту и активному образу жизни. BikePark не просто велопрокат; это история в каждой поездке, место, где каждый момент становится незабвенным впечатлением.
				</p>

				<p class="about-box__p">
					Наша команда – это союз опытных профессионалов, креативных дизайнеров и страстных велолюбителей. Мы создаем не просто велосипедные маршруты, а возможности освободиться от рутины и насладиться красотой окружающей природы на двух колесах.
				</p>

				<p class="about-box__p">
					BikePark предоставляет вам не просто велосипеды, а ключи к приключениям. Наши двухколесные компаньоны – это не просто средство передвижения, а способ раскрыть новые места и пережить невероятные впечатления.
				</p>

				<p class="about-box__p">
					Мы гордимся тем, что предлагаем широкий ассортимент велосипедов, подходящих для различных стилей езды и уровней подготовки. Вне зависимости от того, вы новичок или опытный райдер, у нас есть идеальный велосипед для ваших приключений.
				</p>

				<p class="about-box__p">
					Присоединяйтесь к нашему велосипедному сообществу, где каждый может поделиться своей страстью к велоспорту. Давайте создадим воспоминания, которые будут с вами всю жизнь. Педалируйте в будущее вместе с BikePark – местом, где каждая поездка – это новая история, каждый велосипед – ваш личный ключ к свободе и приключениям.
				</p>
			</div>
		</div>
	</section>
	<section class="about section">
	<h1 class="title about__title">Открытия <i class="fa-solid fa-spinner"></i></h1>

        <div class="about-box">
            <div class="about-box__text">
                <p class="about-box__p">
                    Для настоящих любителей велоспорта мы подготовили самые захватывающие маршруты, которые позволят вам полностью погрузиться в мир приключений и открытий. От легких прогулок по живописным местам до экстремальных трасс с захватывающими спусками — у нас есть маршрут для каждого велосипедиста.
                </p>

                <p class="about-box__p">
                    Наши профессиональные гиды поделятся с вами секретами и интересными фактами о местности, покажут самые красивые пейзажи и удивительные достопримечательности. Все маршруты разработаны с учетом ваших предпочтений и уровня подготовки, чтобы каждая поездка стала незабываемым приключением.
                </p>

                <p class="about-box__p">
                    Присоединяйтесь к нашим групповым или индивидуальным турам и откройте для себя новые уголки природы, ощутите адреналин от быстрой езды по горным склонам и насладитесь свежим воздухом и великолепными видами.
                </p>
            </div>
	</div>
</section>
</section>

<section class="reviews section">
	<h3 class="reviews-title">Отзывы <i class="fa-solid fa-envelope"></i></h3>
	<div class="reviews-box">
	  <% @reviews.each do |review| %>
	    <div class="reviews-box__block">
	      <p class="reviews__text">
	        <%= review.review %>
	      </p>
	      <span class="reviews__author">
	        <i class="fa-solid fa-fire"></i> <%= review.user.name %>
	      </span>
	    </div>
	  <% end %>
	</div>

	<a href="<%= reviews_path  %>" class="button button-reviews">Все отзывы</a>
</section>				