<section class="section contacts">
	<h1 class="contacts__title title">Контакты <i class="fa-solid fa-address-book"></i></h1>
	<div class="contacts-box">
		<div class="contacts-box-info">
			<div class="contacts-box-info__block">
				<span class="contacts-box-info__block-title contacts-title">Номер телефона</span>
				<p class="contacts-box-info__block-subtitle">+79008009090</p>
			</div>

			<div class="contacts-box-info__block">
				<span class="contacts-box-info__block-title contacts-title">E-mail</span>
				<p class="contacts-box-info__block-subtitle">info@bikerental.ru</p>
			</div>

			<div class="contacts-box-info__block">
				<span class="contacts-box-info__block-title contacts-title">Адрес</span>
				<p class="contacts-box-info__block-subtitle">Россия, Волгодонск, Новая 13</p>
			</div>
		</div>

		<form class="contacts-form" action="#">
			<span class="contacts-box-info__block-title contacts-title">Оставить заявку</span>
			<p class="contacts-form__subtitle">Остались вопросы? Свяжитесь с нами</p>
			<input type="text" class="contacts-form__input input" placeholder="Имя*">
			<input type="text" class="contacts-form__input input" placeholder="Номер телефона*">
			<label class="contacts-form__label" for="consentCheckbox" style="display: flex; align-items: center; 	margin: 25px 0;">
	            <input class="contacts-form__checkbox" type="checkbox" id="consentCheckbox" name="consentCheckbox">
	            <span class="contacts-form__checkbox-text">Согласие на обработку персональных данных</span>
	        </label>
			<button class="button contacts-form__button" type="submit">Отправить</button>
		</form>


	</div>
	<div class="contacts-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5390.091007883136!2d42.14226118394924!3d47.5085050295047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x411d4a8fac3bad39%3A0x829c45a1538b3631!2z0JLQvtC70LPQvtC00L7QvdGB0LosINCg0L7RgdGC0L7QstGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1707914574865!5m2!1sru!2sru" width="100%" height="600px" style="border:0; border-radius: 10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
</section>