<section class="rules section">
	<h1 class="title rules__title">Правила <i class="fa-solid fa-circle-nodes"></i></h1>
	<div class="rules-conditions">
		<h2 class="rules-conditions__title">Условия аренды</h2>
		<div class="rules-conditions-box">
			<div class="rules-conditions__block">
				<h4 class="rules-conditions-title">Срок аренды</h4>
				<p class="rules-conditions__subtitle">Минимальный срок аренды велосипеда составляет 1 день. Однако, если вы планируете приключение более продолжительное, при бронировании от 5 дней действует приятная бонусная программа - скидка 10%. Это наше специальное предложение для тех, кто хочет наслаждаться велосипедными прокатами на полную катушку.</p>
			</div>

			<div class="rules-conditions__block">
				<h4 class="rules-conditions-title">Возврат и обмен</h4>
				<p class="rules-conditions__subtitle">Мы стремимся предоставить вам максимальное удовлетворение от аренды велосипеда. В случае необходимости изменения даты аренды или замены выбранного велосипеда на другой, свяжитесь с нашей службой поддержки. Мы готовы рассмотреть ваши запросы и найти оптимальное решение.</p>
			</div>

			<div class="rules-conditions__block">
				<h4 class="rules-conditions-title">Залог и ответственность</h4>
				<p class="rules-conditions__subtitle">При аренде велосипеда необходимо внести залог. Залог будет возвращен в полном объеме при возврате велосипеда в идеальном состоянии. Помните, что защита велосипеда в пути – это забота каждого арендатора. В случае утраты или повреждения велосипеда, мы обязуемся предоставить вам подробные инструкции по возмещению ущерба.</p>
			</div>
		</div>
	</div>

	<div class="rules-compensation">
		<h2 class="rules-compensation__title">Возмещение ущерба</h2>
		<p class="rules-compensation__subtitle">
			Мы понимаем, что в пути могут возникнуть непредвиденные ситуации. В случае возникновения ущерба велосипеду, будьте уверены, что мы предоставим вам подробные инструкции по действиям. Ваше комфортное путешествие - наша забота. Мы стремимся к прозрачным и честным отношениям, чтобы ваш опыт аренды велосипеда в BikePark был только приятным и незабвенным.
		</p>
	</div>
</section>