<section class="section">
    <% if flash[:notice].present? %>
        <div class="message-good message">
            <%= flash[:notice] %>
        </div>
    <% end %>

    <% if flash[:alert].present? %>
        <div class="message-bad message">
            <%= flash[:alert] %>
        </div>
    <% end %>

    <a href="<%= root_path %>" class="button button-back">На главную</a>
</section>

<script>
    // Перенаправление на главную страницу через 5 секунд
    setTimeout(function(){
        window.location.href = "<%= root_path %>";
    }, 5000);
</script>
