<section class="hero section">
	<h1 class="hero__title title">Где кататься с BikePark <i class="fa-solid fa-bicycle"></i></h1>
	<h3 class="hero__h3">Велосипедные маршруты для настоящих любителей приключений!</h3>
	<p class="hero__subtitle">
		<span class="hero__subtitle-tiel">
			Друзья, добро пожаловать в мир нескончаемых велосипедных троп и путей! В BikePark мы гордимся тем, что предлагаем не просто велосипеды в аренду, а возможность отправиться в захватывающие приключения по самым красивым местам.
		</span>
		<br><br>
		<span class="hero__num"><i class="fa-solid fa-caret-right"></i> Извилистые Горные Трассы:</span>
		Наши велосипедные маршруты включают в себя извилистые горные трассы, предназначенные для тех, кто ищет настоящий экстрим и адреналин. Почувствуйте ветер в волосах и встречайте завораживающие виды, покоряя высоты с BikePark.
		<br><br>
		<span class="hero__num"><i class="fa-solid fa-caret-right"></i> Зеленые Парковые Дорожки:</span>
		Для любителей более умеренного отдыха мы предлагаем зеленые парковые дорожки, идеальные для семейных поездок и спокойных прогулок. Наши маршруты прокладываются через красивые парки и пейзажи, создавая атмосферу покоя и гармонии.
		<br><br>
		<span class="hero__num"><i class="fa-solid fa-caret-right"></i> Городские Площади и Аллеи:</span>
		Если вы предпочитаете городскую атмосферу, наши велосипеды подойдут для городских площадей и аллей. Ощутите свободу передвижения по улицам, наслаждаясь архитектурой и уличными видами.
		<br><br>
		<span class="hero__num"><i class="fa-solid fa-caret-right"></i> Туристические Путешествия:</span>
		BikePark также предлагает велосипеды для туристических путешествий. Открывайте новые места, покоряйте дальние дистанции и создавайте свои собственные велосипедные истории.
		<br><br>
		Не важно, какой тип катания вы предпочитаете, у нас есть идеальный маршрут для каждого. Давайте вместе откроем велосипедные грани и создадим незабвенные моменты вместе с BikePark!
	</p>

	<!-- Представление -->
<h3 class="hero__h3 rules-two-h3">Расширение горизонтов вместе с BikePark</h3>
<div class="rules-two-section-box rules-two-section__new">
  <% @horizonts.each do |horizont| %>
    <div class="rules-two-section-box__block">
      <%= image_tag(horizont.img, class: 'rules-blog-img') %>
      <h2 class="rules-blog-title"><%= horizont.title %></h2>
      <p class="rules-two-section-box__block-text"><%= horizont.description %></p>
    </div>
  <% end %>
</div>

</section>

<!-- <section class="section rules-two-section">
	<div class="rules-two-section-box">
		<div class="rules-two-section__text">
			<h3 class="hero__h3">Инновационный рост и стратегическое развитие</h3>
			<span class="hero__num"><i class="fa-solid fa-map-pin"></i> Инвестиции в будущее:</span>
			Мы постоянно инвестируем в разработку новых маршрутов и улучшение условий для наших клиентов. Наше стремление к инновациям помогает нам оставаться впереди, обеспечивая вам лучшие возможности для велосипедных приключений.
			<br><br>
		</div>
		<%= image_tag("hero.png") %>
	</div>
	
</section> -->