<section class="section">
	<h2 class="title reviews-title">Оставить отзыв</h2>
	<%= form_with(model: @review, url: order_review_path(@order), method: :post) do |form| %>
	  <%= form.text_area :review, placeholder: 'Оставьте отзыв', class: 'review-text' %>

	  <%= form.hidden_field :user_id, value: current_user.id %><br>

	  <%= form.submit 'Оставить отзыв', class: "button review-button-click" %>
	<% end %>
</section>
